<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/claudecode-fable5/tests" />
        <option value="$PROJECT_DIR$/claudecode-opus4.8/php-mysql-over-ssh-tunnel/tests" />
      </list>
    </option>
  </component>
</project>